/* 
------------------VARIABLES----------------

Las variables son como cajitas en donde
podemos definir distintas características
en cada una de ellas y hacer referencia
a ellas en cualquier lugar de nuestra hoja
de estilos dentro de los elementos en los que
deseemos utilizarlas.

Es una herramienta que nos ayudará a mantener
prolijidad en el código y orden, además de que
fomenta a buscar la mejor legibilidad para
visualizar nuestro código tanto nosotros, como
alguien más, en caso de trabajar con un otro.

Un ejemplo: 
Si tenemos una sección con un fondo de color #ffede5, 
será más sencillo encontrarla y modificarla si creamos
y utilizamos una variable.

Formato que ya conocemos:

ofertas{
  color: #ffede5;
}

Creando una variable y haciendo referencia a ella:

:root{
  --ofertas-bg-color:#ffede5;
}

ofertas{
  color: var(--ofertas-bg-color);
}

Es una buena práctica semántica.

Ahora, como pudimos ver para crear la variable
usamos :root, que es una PSEUDOCLASE, y cuyo
valor es mayor en jerarquía que la etiqueta HTML
del propio documento.

------------------VARIABLES----------------
*/

:root {
  --color-principal-anaranjado: #ff914d;
  --color-principal-turquesa: #73c1cb;
  --color-secundario-turquesaclaro: #bccfd2;
  --pie-bg: var(--btn-bg-principal);
  --ofertas-titulo-bg: var(--btn-bg-principal);
  --secciones-titulos-bg: var(--btn-bg-principal);
  --redes-bg-hover: var(--btn-bg-principal);
  --font-size-h1: 1rem;
  --font-size-h3: 2rem;
  --font-size-h2: 3rem;
  --font-size-h4: 0.9rem;
  --font-size-p: 1.1rem;
  --body-bg: #ffede5;
  --color-blanco: #f9f9f9;
  --color-negro: #121212;
  --line-height: 130%;
  --font-family-poppins: poppins;
  --font-family-amsterdam: amsterdam;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*------------------VARIABLES----------------*/
p {
  font-size: var(--font-size-p);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
  line-height: 110%;
  letter-spacing: 1px;
}
h2,
h3 {
  font-family: var(--font-family-amsterdam);
  line-height: 200%;
  font-weight: bold;
}
h1,
h4,
p,
a {
  font-family: var(--font-family-poppins);
}
/*------------------GRID BODY ESTRUCTURA GENERAL----------------*/

/*--Usamos la estructura de GRID para determinar que el body funcione dentro del marco de
filas y columnas. De esta manera, luego a cada sección le indicamos cuántas filas y cuántas columnas
pueden ocupar.--*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px 1fr 1fr auto auto auto auto auto auto; /*8 columnas, 9 lineas*/ /*Definimos valores fijos para algunas filas y para otras dejamos que se ajusten automáticamente al contenido de cada sección que ocupe cada fila.*/
  background-color: var(--body-bg);
}
body::-webkit-scrollbar {
  display: none;
}
/*------------------HEADER----------------*/
header.encabezado {
  position: fixed;
  grid-row: 1/2;
  width: 100%;
  grid-column: 1/4;
  z-index: 150;
}
/*------------------HEADER----------------*/

/*------------------NAV----------------*/
nav.navegacionEncabezado {
  display: grid;
  grid-template-areas: "abre logo carrito";
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--body-bg);
  box-shadow: var(--box-shadow);
}

nav a img.imgIcono, /*Damos estilo a los botones e iconos*/
button img.imgIcono {
  width: 40px;
  padding: 8px;
}

nav button.btnAbreMenu {
  grid-area: abre;
}

nav button.btnCierraMenu {
  grid-area: cierra;
  display: none;
}
a.enlaceLogo .imgLogoNav {
  height: 48px;
  grid-area: logo;
}
button.enlaceCarrito .imgIcono.carrito {
  grid-area: carrito;
}

.imgLogoNav {
  height: inherit;
}
nav ul.listaMenuEncabezado {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 100vh;
  width: 100px;
  bottom: 0;
  background-color: var(--color-blanco);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
nav ul.listaMenuEncabezado li a {
  color: var(--color-negro);
}
/*------------------CLASES JS----------------*/
/*Clases que se agregan con JS
a las clases correspondientes de la nav
para hacerla visible o no cuando
el usuario haga click*/
.listaMenuEncabezado.visible {
  opacity: 1;
  visibility: visible;
}
.btnCierraMenu.visible {
  display: block;
  position: absolute;
  z-index: 100;
}
/*------------------CLASES JS----------------*/

/*##### NAV #####*/

/*##### MAIN DESTACADOS CONTENEDOR #####*/

main.destacadosMain {
  grid-row: 2/3;
  grid-column: 1/4;
}

h1.tituloPromo {
  padding: 8px;
  text-align: center;
  background-color: var(--color-principal-anaranjado);
}

/*---SECCIÓN BANNER LOGO ---*/

section.bannerLogo {
  min-height: 200px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/banner-fondo.png);
  background-size: cover;
}

.imgLogoBanner {
  height: 100px;
}

/*---SECCIÓN BANNER LOGO ---*/

/*---SECCION PRODUCTOS DESTACADOS INTERACTIVO ---*/

section.productoInteractivo {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 750px;
}

section h3.nombreProducto {
  text-align: center;
  color: var(--color-principal-anaranjado);
}
section article.contenedorProducto {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--color-principal-turquesa);
  box-shadow: var(--box-shadow);
}

article img.productoPrincipal {
  height: 230px;
}

ol.listaMiniaturas {
  margin-top: 32px;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

ol li button.btnMiniatura {
  background-color: var(--color-principal-turquesa);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: var(--box-shadow);
}

button img.cupcake.miniatura {
  height: 48px;
}
section .descripcionProducto {
  text-align: center;
  width: 350px;
  line-height: 110%;
  letter-spacing: 1px;
}
/*##### MAIN DESTACADOS CONTENEDOR #####*/

/*estilo general para botones principales*/
.button {
  margin-top: 8px;
  /*boton 32px mobile*/
  background-color: var(--color-principal-anaranjado);
  font-size: 16px;
  font-family: var(--font-family-poppins);
  cursor: pointer;
  border-radius: 15px;
  width: 192px;
  height: 48px;
  box-shadow: var(--box-shadow);
}

.tituloSeccion {
  background-color: var(--color-principal-anaranjado);
  font-family: amsterdam;
  height: 100px;
}

/*##### BANNER DIVIDE SECCIÓN #####*/
.divisorSeccion {
  grid-column: 1/4;
  grid-row: 3/4;
  height: 100px;
}

div img.cupcakesFondo {
  width: 100%;
  background-image: url(../images/background-divisor.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

div .divBannerTienda {
  margin-top: 120px;
  height: 800px;
  content: "fotografía de panadería, vista general de tartas con frutillas y facturas surtidas";
  background-image: url(../images/general-panaderia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.5;
  z-index: 10;
}
/*##### BANNER DIVIDE SECCIÓN #####*/

/*##### OFERTAS CARROUSEL #####*/
section.carrouselOfertas {
  grid-column: 1/4;
  position: relative;
  grid-row: 4/5;
  width: 100%;
}
.carrouselOfertas .tituloCategoria {
  background-color: var(--color-principal-anaranjado);
  text-align: center;
  box-shadow: var(--box-shadow);
  width: 100%;
}
.galeriaCarousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
  white-space: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.galeriaCarousel article {
  margin-left: 40px;
}

.slider-button {
  background-color: var(--color-secundario-turquesaclaro);
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  top: 350px;
  position: absolute;
}

.slider-button.prev-button {
  left: 16px;
}
.slider-button.next-button {
  right: 16px;
}

.carrouselOfertas .contenedorOfertas {
  display: flex;
  width: calc(100% / 3);
}

.productoOferta {
  margin: 32px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--color-blanco);
  height: 350px;
  width: 200px;
}
.nombreOferta {
  text-align: center;
}
.nombreOferta .nombreResalta {
  color: var(--color-principal-turquesa);
}
.productoOferta img.producto {
  width: 150px;
}
.infoProducto {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.muestraColores {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  gap: 16px;
}
.colorOferta {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.colorOferta:first-child {
  background-color: rgb(92, 66, 28);
}
.colorOferta:last-child {
  background-color: rgb(221, 109, 156);
}
.ofertaPrecio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.precios {
  display: flex;
  flex-direction: column;
}
.precioAnterior {
  text-decoration: line-through;
}
.btnAnadirCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-principal-anaranjado);
}
/*##### OFERTAS CARROUSEL #####*/

/*##### CARRITO COMPRAS #####*/
.carritoListado.no-visible {
  display: none;
}
.carritoListado {
  position: absolute;
  right: 0;
  margin-top: 60px;
  top: 0px;
  width: 300px;
  bottom: 0;
}
.contenedor-carrito-productos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedorTotal {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-blanco);
}
.filaProducto {
  width: 100%;
  border-bottom: solid var(--color-negro) 1px;
}
.textoVacio {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  display: flex;
  background-color: var(--color-blanco);
}
.filaProducto div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  display: flex;
  background-color: var(--color-blanco);
}
.infoCarritoProducto {
  width: 100%;
  display: flex;
}
.btn-eliminar-producto {
  margin: 8px;
  padding: 8px;
}
/*##### CARRITO COMPRAS #####*/

/*##### SECCION INGREDIENTES #####*/
section.ingredientesSeccion {
  grid-column: 1/4;
  height: 100%;
  grid-row: 5/6;
} /*Damos el mismo color de fondo a los títulos NUESTROS INGREDIENTES y REDES*/
.ingredientesSeccion .tituloCategoria {
  text-align: center;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-principal-turquesa);
}
.contenedorIngredientes {
  min-height: 600px;
  height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.ing {
  padding: 1rem;
}
/*##### SECCION INGREDIENTES #####*/

/*##### REDES#####*/

.redesSeccion {
  grid-column: 1/4;
  grid-row: 6/7;
  display: flex; /*usamos flex nuevamente para que sea más sencillo alinear los elementos en una misma*/
  flex-direction: column;
  height: 100%;
}
.redesSeccion .tituloCategoria {
  text-align: center;
  box-shadow: var(--box-shadow);
  background-color: var(--color-principal-turquesa);
}
.contenedorRedes {
  display: flex; /*usamos flex nuevamente para que sea más sencillo alinear los elementos en una misma*/
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
}

.iconos-redes {
  display: flex;
  justify-content: center;
  transform: scale(2.5);
  box-shadow: var(--box-shadow);
  transition: 0.15s ease-in;
  border-radius: 10px;

  animation-name: animacionredes;
  background-color: var(--color-secundario-turquesaclaro);
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.iconos-redes:hover {
  transform: scale(2.9);
}
@keyframes animacionredes {
  0% {
    rotate: 20deg;
  }
  50% {
    rotate: -20deg;
  }
  100% {
    rotate: 20deg;
  }
}
.bi-facebook,
.bi-whatsapp,
.bi-instagram {
  border-radius: 10px;
  padding: 8px;
}
.bi-facebook {
  fill: #7795bd;
  transition: 0.2s ease-in; /*para los archivos svg podemos usar la propiedad fill, que funcionará como la propiedad COLOR.*/
}
.bi-instagram {
  fill: #c96099;
  transition: 0.2s ease-in;
}
.bi-whatsapp {
  fill: #6db688;
  transition: 0.2s ease-in;
}
.bi-facebook:hover,
.bi-instagram:hover,
.bi-whatsapp:hover {
  fill: var(--color-principal-anaranjado);
}
/*##### REDES #####*/

/*##### NEWSLETTER#####*/

/*Le aplicamos estilos a nuestro formulario*/
.newsletterSeccion {
  grid-column: 1/4;
  grid-row: 7/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blanco);
  box-shadow: var(--box-shadow);
  padding: 20px;
  z-index: 1;
}
.newsletterSeccion .tituloCategoria {
  text-align: center;
}
.form-contenedor {
  text-align: center;
  display: flex; /*acomoadamos los elementos dentro del contenedor form en filas y los alineamos*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px; /*determinamos un espaciado entre las filas (hay tantas filas como elementos)*/
}

.input-email {
  width: 70%;
  margin: 16px 0px 16px 0px; /*le damos un espaciado por fuera de nuestro input, donde se ingresará el email.
  Recordemos el orden y la dirección en el que estamos modificando cada valor :
  arriba derecha abajo izquierda;*/
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  border: solid var(--color-principal-turquesa) 0.5px;
  background-color: var(--color-secundario-turquesaclaro);
}
/*damos estilo al botón enviar tipo input*/
.form-enviar {
  border: none;
  background-color: var(--color-secundario-turquesaclaro);
}
/*##### NEWSLETTER #####*/

/*##### BANNER LOGO COLOR #####*/
.bannerLogoFin {
  grid-column: 1/4;
  grid-row: 8/9;
  text-align: center;
  padding: 30px;
  background-color: var(--color-blanco);
}
.bannerLogoFin img.imgLogoBanner {
  width: 100%;
  height: auto;
}

/*##### BANNER LOGO COLOR #####*/

/*#WHATSAPP#*/
.whatsappBtn {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.whatsappBtn a {
  border-radius: 50%;
}
.whatsappBtn a svg.bi-whatsapp {
  background-color: var(--color-blanco);
  border-radius: 30%;
}

/*##### FOOTER MAPA DEL SITIO #####*/
footer.mapadeSitioSeccion {
  grid-column: 1/4;
  grid-row: 9/10;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: poppins;
  align-items: center;
  font-size: 14px;
}
/*SECCION FOOTER, PIE DE PAGINA*/
footer {
  background-color: #f9f9f9; /*estableceos un color a toda la sección FOOTER*/
}
.nav-contenedor-mapeo {
  padding-bottom: 20px;
}
.nav-contenedor-mapeo h3 {
  grid-row: 1/2;
  font-size: 16px;
  font-family: poppins;
}
.nav-mapa-lista,
.nav-contactanos,
.nav-horarios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px;
}
.nav-mapa-lista li {
  cursor: pointer;
}
.nav-mapa-lista li a {
  text-decoration: none;
}
.link-nav a {
  text-decoration: none;
  color: #121212;
}

/*Damos un color, forma y tamaño a nuestra etiqueta A, que se comportará como un botón*/
.btnSubir {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-principal-turquesa);
  margin-bottom: 2rem;
}
.btnSubir img {
  width: 20px;
  height: 20px;
}
.btnSubir:hover {
  background-color: #bccfd2;
}

/*##### FOOTER MAPA DEL SITIO #####*/

@media (min-width: 1024px) {
  /*cuando tenga como mínimo este tamaño la pantalla, entonces se aplicarán esos estilos para tablet en adelante*/
  /*tamaño tablet*/
  .carrouselOfertas .contenedorOfertas {
    width: calc(100% / 2);
    transform: scale(120%);
  }
  nav.navegacionEncabezado {
    grid-template-areas: "logo lista carrito";
  }
  nav ul.listaMenuEncabezado {
    grid-area: lista;
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    flex-direction: row;
    padding: 8px;
    height: 0;
    width: 100%;
    position: sticky;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    background-color: var(--body-bg);
  }
  .listaMenuEncabezado li {
    padding: 8px;
  }
  nav button.btnAbreMenu,
  button.btnCierraMenu {
    display: none;
  }
  section.bannerLogo {
    background: url(../images/panaderia.png);
    background-size: cover;
    background-position: 30%;
  }
  section.productoInteractivo {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: auto;
    align-content: center;
    justify-content: space-around;
  }
  section h3.nombreProducto {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
  .contenedorProducto {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .listaMiniaturas {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-left: 16px;
    flex-direction: column;
  }
  .comprar {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  section .descripcionProducto {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }
  .divisorSeccion {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  div img.cupcakesFondo {
    display: none;
  }
  .divBannerTienda {
    height: 100%;
    background-position: 20%;
  }
  .carrouselOfertas {
    margin-top: 200px;
  }
  .carrouselOfertas .contenedorOfertas {
    transform: scale(80%);
    width: calc(100% / 2);
  }
  .galeriaCarousel {
    align-items: flex-start;
  }
  .galeriaCarousel article {
    margin-left: 40px;
  }
  .slider-button {
    top: 300px;
  }
  section.ingredientesSeccion {
    height: 600px;
  }
  .contenedorIngredientes {
    padding-top: 10%;
    height: 30%;
    flex-direction: row;
    align-items: flex-start;
  }
  .ing h3 {
    margin-bottom: 16px;
  }
  .newsletterSeccion {
    flex-direction: row;
    align-items: center;
  }
  .bannerLogoFin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .bannerLogoFin img.imgLogoBanner {
    width: 30%;
  }
  .mapadeSitioSeccion {
    padding-top: 5%;
  }
  .mapadeSitioSeccion .nav-contenedor-mapeo {
    display: flex;
    align-items: center;
  }
  .nav-contactanos,
  .nav-horarios,
  .nav-navegacion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 30px;
    padding: 8px;
  }
}
@media (max-width: 767px) {
  /*hasta este tamaño de pantalla se aplicarán los siguientes estilos*/
  .carrouselOfertas .contenedorOfertas {
    width: 100%;
  }
}
